.widget{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    height: fit-content;
}

.widget h4{
    font-weight: 600;
    margin-bottom: 7px;
}

.widget-news-container{
    list-style-type: circle;
    width: 100%;
    padding-left: 15px;
    padding-right: 40px;
}

.widget-news-item{
    margin-bottom: 4px;
}

.widget-news-item p{
    font-size: 10px;
    font-weight: 500;
    color: grey;
    margin-bottom: 4px;
}
.widget-news-item h6{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 4px;
    
}
