.app{
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-body{
  display: flex;
  justify-content: center;
  margin-top: 35px;
  padding: 10px 0px;
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
}